.loading__container {
  height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3em;
  color: white;
}

.loading__text {
  h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 3rem;
  }
}

.loading__icon .loader {
  width: 70px;
  height: 70px;
  border: 8px solid #fff;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 470px) {
  .loading__text h1 {
    font-size: 1.5rem;
  }

  .loading__icon .loader {
    width: 40px;
    height: 40px;
  }
}
